AKWS1011GXX/WebContent/data/Autos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="AutoArrayItems" type="AutoArray"/>
 <xsd:complexType name="AutoArray">
 <xsd:sequence>
 <xsd:element name="AutoArrayItem" type="Auto" minOccurs="1" maxOccurs="unbounded"/>
 </xsd:sequence>
 </xsd:complexType>

<xsd:complexType name="Auto">
 <xsd:sequence>
 	<xsd:element name="autoID" type="xsd:long" />
 	<xsd:element name="farbe" type="xsd:string" />
 	<xsd:element name="anzahlSitze" type="xsd:int" />
 	<xsd:element name="gekauft" type="xsd:boolean" />
 	<xsd:element name="userID" type="xsd:long"/>
 </xsd:sequence>
</xsd:complexType>
</xsd:schema>