AKWS1011GXX/WebContent/data/Users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:element name="UserArrayItems" type="UserArray"/>
 <xsd:complexType name="UserArray">
 <xsd:sequence>
 <xsd:element name="UserArrayItem" type="User" minOccurs="1" maxOccurs="unbounded"/>
 </xsd:sequence>
 </xsd:complexType>

<xsd:complexType name="User">
 <xsd:sequence>
 	<xsd:element name="userID" type="xsd:long" />
 	<xsd:element name="name" type="xsd:string"/>
 	<xsd:element name="password" type="xsd:string"/>
 </xsd:sequence>
</xsd:complexType>
</xsd:schema>